body {
  margin: 0;
}
:root {
  background-color: #f7e5c1;
  scrollbar-width: none;
}

#root {
  max-width: 2000px;
  margin: 0 auto;

  font-family: "inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.8);
  background-color: #f7e5c1;
}

* {
  box-sizing: border-box;
  transition: linear all 0.3s;
}

a {
  text-decoration: none;
}

.dutch {
  color: #f7e5c1 !important;
}
.ecru {
  color: #b7a85c !important;
}
.gunmetal {
  color: #1c393f !important;
}
.bg-dutch {
  background-color: #f7e5c1 !important;
}
.bg-ecru {
  background-color: #b7a85c !important;
}
.bg-gunmetal {
  background-color: #1c393f !important;
}
.quicksand {
  font-family: "Quicksand", "inter" !important;
}
.cursive {
  font-family: cursive;
}
.border-black {
  border: 1px solid black
}
.f-8 {
  font-size: 8px !important;
}
.f-10 {
  font-size: 10px !important;
}
.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.cursor {
  cursor: pointer;
}
.bg-img {
  background: center / cover no-repeat;
}
.monospace {
  font-family: "Courier New", Courier;
}
.italics {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}
.hover-dark {
  &:hover {
    filter: brightness(0.6);
  }
}
.hover-light {
  &:hover {
    filter: brightness(1) !important;
  }
}
.hover-exp {
  &:hover {
    transform: scale(1.05);
  }
}

.hidden-up,
.hidden-left,
.hidden-right,
.zoom-in {
  opacity: 0 !important;
}
.hidden-up {
  transform: translateY(40px) !important;
}
.hidden-left {
  transform: translateX(40px) !important;
}
.hidden-right {
  transform: translateX(-40px) !important;
}
.zoom-in {
  transform: scale(0.65) !important;
}
.slower {
  transition: transform 0.6s linear, opacity 0.6s linear !important;
}
